{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "my-site",
  "url": "https://my.site",
  "sameAs": []
}
</script>
{{ end }}

{{ define "main" }}
<h1>{{ $.Site.Params.Title }}</h1>

<p>{{ $.Site.Params.site_description }} </p>
<p>Total Blog Posts: {{ len (where $.Site.RegularPages "Section" "blog") }}</p>

<div>
  Newest Blogs:
  <ul>
  {{ range first 10 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
    <li><a href="{{ with .Site.GetPage "section" "blog" }}{{ .Permalink }}{{ end }}">More...</a></li>
  </ul>
</div>

<div>
  Newest TILs:
  <ul>
  {{ range first 10 (where .Site.RegularPages.ByDate.Reverse "Section" "til") }}
    <li>{{ .Date.Format "2006-01-02" }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
    <li><a href="{{ with .Site.GetPage "section" "til" }}{{ .Permalink }}{{ end }}">More...</a></li>
  </ul>
</div>

<div>
  Newest Cards:
  <ul>
  {{ range first 10 (where .Site.RegularPages.ByDate.Reverse "Section" "cards") }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
    <li><a href="{{ with .Site.GetPage "section" "cards" }}{{ .Permalink }}{{ end }}">More...</a></li>
  </ul>
</div>

<div>
  Teams:
  <ul>
    {{range $name, $taxonomy := .Site.Taxonomies.teams}}
      {{ $cnt := .Count }}
      {{ with $.Site.GetPage (printf "/teams/%s" $name) }}
      <li>
        <a href={{ .RelPermalink }} title="All pages mentioning the team {{$name}}">{{ .LinkTitle | humanize | title }}</a>
        <sup>{{ $cnt }}</sup>
      </li>
      {{end}}
    {{end}}
  </ul>
</div>

<div>
  Players:
  <ul>
    {{range $name, $taxonomy := .Site.Taxonomies.players}}
      {{ $cnt := .Count }}
      {{ with $.Site.GetPage (printf "/players/%s" $name) }}
      <li>
        <a href={{ .RelPermalink }} title="All pages mentioning the player {{$name}}">{{ .LinkTitle | humanize | title }}</a>
        <sup>{{ $cnt }}</sup>
      </li>
      {{end}}
    {{end}}
  </ul>
</div>

<p>
  <small>
    <a href="index.xml">RSS</a> |
    <a href="{{ $.Site.Params.github_repo }}">GitHub</a> |
    {{ with .Site.GetPage "page" "notices.md" }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }} |
    <a href="https://tomhummel.com">tomhummel.com</a>
  </small>
</p>
{{ end }}
