{{ define "title" }}custom title override{{ end }}
{{ define "head" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "my-site",
  "url": "https://my.site",
  "sameAs": [
    "https://twitter.com/{{ $.Site.Params.twitter_handle }}"
  ]
}
</script>
{{ end }}

{{ define "main" }}
<h1>{{ $.Site.Params.Title }}</h1>

<p>{{ $.Site.Params.site_description }} </p>

<p>
  
</p>

<p>Total Blog Posts: {{ len (where $.Site.RegularPages "Section" "blog") }}</p>

<div>
  Newest Blogs:
  <ul>
  {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
    <li><a href="{{ with .Site.GetPage "section" "blog" }}{{ .Permalink }}{{ end }}">More...</a></li>
  </ul>
</div>

<p>
  <small>
    {{ with .Site.GetPage "page" "faq.md" }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }} |
    {{ with .Site.GetPage "page" "contact.md" }}<a href="{{ .Permalink }}">{{ .Title }}</a>{{ end }} |
    <a href="index.xml">RSS</a> |
    <a href="{{ $.Site.Params.github_repo }}">GitHub</a> |
    <a href="https://twitter.com/{{ $.Site.Params.twitter_handle }}">Twitter</a> 
  </small>
</p>
<p>
  <small>
    Good teams lose 40% of the time. Good hitters fail 60% of the time. 
  </small>
</p>
{{ end }}
